/* All WooCommerce Customize CSS */
.on-sale-wrap {
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 1;
    z-index: 2;
}
.on-sale-wrap .onsale {
    display: block;
    background: var(--tg-secondary-color);
    color: #FEFFFE;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Cuprum', sans-serif;
    padding: 7px 14px;
    text-transform: uppercase;
}
.cycure-product-main .tinvwl_add_to_wishlist-text {
    display: none;
}
.cycure-product-main {
    position: relative;
}
.cycure-product-main .tinv-wraper.tinv-wishlist {
    font-size: 100%;
    position: absolute;
    left: 15px;
    top: 15px;
    transition: .3s ease-in-out;
    opacity: 0;
}
.cycure-product-main:hover .tinv-wraper.tinv-wishlist {
    opacity: 1;
}
.cycure-product-main .tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button {
    margin-top: 0;
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    background: var(--tg-secondary-color);
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
}
.cycure-product-main .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before {
    margin: 0;
    font-size: 21px;
}
.product-cart-button {
    line-height: 1.2;
    position: relative;
}
.product-content .add-cart-btn.added {
    opacity: 0;
}
.product-content .added_to_cart.wc-forward {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 1px;
    height: 100%;
    background: #00172f;
    padding: 2px 20px 2px 0;
}
.woocommerce-product-gallery__wrapper {
    margin-bottom: 0;
}
.shop-details-images {
    position: relative;
}

/*=============================
    Wishlist Popup
==============================*/
.tinv-wishlist .tinv-modal .tinv-modal-inner {
    background-color: var(--tg-secondary-color);
    color: #fff;
}
.tinv-wishlist .tinvwl-buttons-group button {
    border: none;
    background: #fff;
    padding: 11px 20px;
    text-transform: capitalize;
    color: var(--tg-secondary-color);
    line-height: 1.4;
    font-weight: 500;
}
.tinv-wishlist .tinvwl-buttons-group button:hover {
    background: var(--tg-primary-color);
    color: #00172F !important;
}

/*=============================
    Shop Pagination
==============================*/
.cycure-shop-pagination ul.page-numbers {
	display: flex;
	padding-left: 0;
	list-style: none;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 0;
}
.cycure-shop-pagination ul.page-numbers li {
	margin: 10px 5px 0;
}
.cycure-shop-pagination ul.page-numbers li .page-numbers {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #011D3A;
	border: none;
	color: #FEFFFE;
	font-weight: 500;
	font-size: 14px;
	padding: 0 0;
	margin: 0;
}
.cycure-shop-pagination ul.page-numbers li .page-numbers:hover,
.cycure-shop-pagination ul.page-numbers li .page-numbers.current {
	background: var(--tg-secondary-color);
}
.cycure-shop-pagination ul.page-numbers li .page-numbers.prev,
.cycure-shop-pagination ul.page-numbers li .page-numbers.next {
	border-radius: 0;
	background: transparent;
	text-transform: uppercase;
	width: auto;
}
.cycure-shop-pagination ul.page-numbers li .page-numbers.prev {
	margin-right: 15px;
}
.cycure-shop-pagination ul.page-numbers li .page-numbers.next {
	margin-left: 15px;
}


/*=============================
    Shop Details
==============================*/
.woocommerce-product-gallery {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.woocommerce-product-gallery .flex-control-nav {
	border: none;
	display: flex;
	flex-direction: column;
	width: 170px;
	flex: 0 0 170px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.woocommerce-product-gallery li {
	margin-bottom: 8px;
    list-style: none;
}
.woocommerce-product-gallery li:last-child {
	margin-bottom: 0;
}
.woocommerce-product-gallery li img {
    border: none;
    padding: 0;
    background: transparent;
    margin: 0;
    border-radius: 0;
    max-height: 180px;
    object-fit: cover;
}
.woocommerce-product-gallery .flex-viewport {
    margin-left: 8px;
}

.inner-shop-perched-info .tinvwl-after-add-to-cart {
    display: none !important;
}
.shop-details-content .tinvwl_add_to_wishlist-text {
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.inner-shop-details-bottom {
    margin: 30px 0 0;
}
.woocommerce-product-attributes {
    border: 1px solid #192E44;
    width: 100%;
}
.woocommerce-product-attributes th,
.woocommerce-product-attributes td {
    border: 1px solid #192E44;
}
.woocommerce div.product form.cart .variations {
    margin-bottom: 1em;
    border: 0;
    width: 100%;
}
.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
    border: 0;
    line-height: 2em;
    vertical-align: top;
}
.woocommerce div.product form.cart .variations td.label {
    padding-right: 1em;
}
.woocommerce div.product form.cart .variations label {
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
    font-size: 16px;
}
.woocommerce div.product form.cart .variations select {
    margin-bottom: 12px;
    padding: 0px 5px;
    background-color: #021d3a;
    border: 1px solid #021d3a;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-weight: normal;
    height: 45px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    background: #021d3a url(../img/icons/d_arrow.png) no-repeat scroll 97.5% center;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    border-radius: 0;
    color: #FEFFFE;
    max-width: 100%;
    min-width: 75%;
    margin-right: 1em;
}
.woocommerce-variation-add-to-cart .variation-shop-perched-info {
    display: flex;
    align-items: flex-end;
}
.woocommerce-variation-price {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    color: #FEFFFE;
    line-height: 1;
    font-family: 'Cuprum', sans-serif;
}
.woocommerce div.product .woocommerce-grouped-product-list {
    border-width: 0 0 1px;
    border: 1px solid #192E44;
    margin-bottom: 15px;
    width: 100%;
}
.woocommerce div.product form.cart .group_table td {
    vertical-align: middle;
    border: 1px solid #192E44;
    padding: .5rem 1rem;
}
.woocommerce div.product form.cart .group_table td:first-child {
    width: 7em;
    text-align: center;
    padding: .7rem 1rem;
}
.woocommerce div.product form.cart .group_table td label {
    font-weight: 500;
}
.woocommerce-grouped-product-list .quickview-cart-plus-minus {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    position: relative;
}

/*=============================
    Shop Review
==============================*/
.woocommerce-Reviews-title {
    text-transform: capitalize;
    font-size: 22px;
    margin: 0 0 .5rem;
}
#review_form_wrapper {
    margin: 30px 0 0;
}
.woocommerce-Reviews span#reply-title {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #dedede;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #192E44;
}
p.stars a,
.woocommerce-page p.stars a {
    display: inline-block;
    margin-right: 1em;
    text-indent: -9999px;
    position: relative;
    font-size: .8rem;
    line-height: 1;
}
p.stars a.star-1,
.woocommerce-page p.stars a.star-1 {
    width: 2em;
}
p.stars a.star-2,
.woocommerce-page p.stars a.star-2 {
    width: 4em;
}
p.stars a.star-3,
.woocommerce-page p.stars a.star-3 {
    width: 5.5em;
}
p.stars a.star-4,
.woocommerce-page p.stars a.star-4 {
    width: 7em;
}
p.stars a {
    border-right: 1px solid #192E44;
}
p.stars a:last-child {
    border-right: 0;
}
p.stars a.star-1::after,
p.stars a.star-2::after,
p.stars a.star-3::after,
p.stars a.star-4::after,
p.stars a.star-5::after,
.woocommerce-page p.stars a.star-1::after,
.woocommerce-page p.stars a.star-2::after,
.woocommerce-page p.stars a.star-3::after,
.woocommerce-page p.stars a.star-4::after,
.woocommerce-page p.stars a.star-5::after {
    font-family: "Font Awesome 5 Free";
    text-indent: 0;
    position: relative;
    display: block;
    top: -6px;
    left: 0;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 5px;
}
p.stars a.star-1::after,
.woocommerce-page p.stars a.star-1::after {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
}
p.stars a.star-2::after,
.woocommerce-page p.stars a.star-2::after {
    content: "\f005\f005";
    font-family: "Font Awesome 5 Free";
}
p.stars a.star-3::after,
.woocommerce-page p.stars a.star-3::after {
    content: "\f005\f005\f005";
    font-family: "Font Awesome 5 Free";
}
p.stars a.star-4::after,
.woocommerce-page p.stars a.star-4::after {
    content: "\f005\f005\f005\f005";
    font-family: "Font Awesome 5 Free";
}
p.stars a.star-5::after,
.woocommerce-page p.stars a.star-5::after {
    content: "\f005\f005\f005\f005\f005";
    font-family: "Font Awesome 5 Free";
}
/*active icon*/
.p.stars a.star-1.active::after,
p.stars a.star-1:hover::after,
p.stars a.star-1.active::after,
p.stars a.star-1:hover::after {
    content: "\f005";
    color: var(--tg-primary-color);
    font-weight: 900;
}
.p.stars a.star-2.active::after,
p.stars a.star-2:hover::after,
p.stars a.star-2.active::after,
p.stars a.star-2:hover::after {
    content: "\f005\f005";
    color: var(--tg-primary-color);
    font-weight: 900;
}
.p.stars a.star-3.active::after,
p.stars a.star-3:hover::after,
p.stars a.star-3.active::after,
p.stars a.star-3:hover::after {
    content: "\f005\f005\f005";
    color: var(--tg-primary-color);
    font-weight: 900;
}
.p.stars a.star-4.active::after,
p.stars a.star-4:hover::after,
p.stars a.star-4.active::after,
p.stars a.star-4:hover::after {
    content: "\f005\f005\f005\f005";
    color: var(--tg-primary-color);
    font-weight: 900;
}
.p.stars a.star-5.active::after,
p.stars a.star-5:hover::after,
p.stars a.star-5.active::after,
p.stars a.star-5:hover::after {
    content: "\f005\f005\f005\f005\f005";
    color: var(--tg-primary-color);
    font-weight: 900;
}
#review_form label {
    margin-bottom: 8px;
}
#review_form label span {
    color: var(--tg-primary-color);
}
#review_form_wrapper .comment-field input,
#review_form_wrapper .comment-field textarea {
    border: 1px solid #192E44;
    padding: 11px 20px;
}
#review_form_wrapper .form-submit [type=submit] {
    user-select: none;
    -moz-user-select: none;
    background: #3657CD none repeat scroll 0 0;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    font-family: 'Cuprum', sans-serif;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    overflow: hidden;
    line-height: 1;
}
.woocommerce-Reviews .avatar {
    margin-top: 0;
    margin-right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 6px;
}
.woocommerce-Reviews .comment_container {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.woocommerce-Reviews .commentlist {
    padding-left: 0;
    list-style: none;
    margin-top: 25px;
}
.star-rating {
    position: relative;
    font-size: 15px;
    width: 100px;
    overflow: hidden;
    line-height: 1;
    margin-bottom: 10px;
}
.star-rating::before {
    font-family: "Font Awesome 5 Free";
    content: '\f005\f005\f005\f005\f005';
    text-transform: uppercase;
    letter-spacing: 3px;
}
.woocommerce-Reviews .comment-text p.meta {
    margin-bottom: 5px;
}
strong.woocommerce-review__author {
    font-size: 18px;
    color: #FEFFFE;
    text-decoration: none;
    font-family: 'Cuprum', sans-serif;
    font-weight: 700;
}

/*=============================
    Cart Page Style
==============================*/
.shoppong-car-wrap table {
    width: 100%;
    margin-bottom: 0;
}
.woocommerce-cart-form table th {
    border: none;
    border-bottom: 1px solid #192E44;
    color: #FEFFFE;
}
.woocommerce-cart-form table th {
    font-weight: 600;
    border-top: 0;
    border-bottom: 1px solid #192E44;
    text-align: left;
}
.woocommerce-cart-form table tbody td {
    text-align: left;
    line-height: 1.1;
}
.woocommerce-cart-form table tbody td:first-child {
    padding-left: 0;
}
.woocommerce-cart-form table td.product-thumbnail img {
    max-width: 4.375rem;
}

.woocommerce-cart-form table td {
    border: none;
    border-top: 1px solid #192E44;
}
.woocommerce-cart-form .actions {
    padding-top: 25px;
    padding-bottom: .625rem;
    padding-right: 0;
}
.woocommerce-cart-form table tbody td.product-remove {
    text-align: right;
    padding-right: 5px;
}
#coupon_code {
    height: 50px;
    background: #021d3a;
    color: #fff;
    padding: 0 20px;
    margin-right: 10px;
    border: 0;
    border-radius: 0;
    padding-right: 0;
}
#coupon_code::placeholder {
    color: #99A2AC;
    font-size: 16px;
}
.woocommerce-cart-form__cart-item .quantity {
    margin: 0 0;
}

.woocommerce-cart-form table tbody tr {
    position: relative;
}

@media (max-width: 767px) {
    .woocommerce-product-gallery.woocommerce-product-gallery--with-images {
        padding-right: 0;
    }
}

@media (max-width: 575px) {
    .woocommerce-cart-form table td.product-price {
      display: none !important;
    }
    .woocommerce-cart-form table td.product-subtotal {
      display: none !important;
    }
    .woocommerce-cart-form table td.product-remove {
      padding: 0 !important;
      width: 0 !important;
    }
    .woocommerce-cart-form table th.product-price, .woocommerce-cart-form table th.product-subtotal, .woocommerce-cart-form table th.product-remove {
        display: none !important;
    }
    .woocommerce-cart-form table td.product-remove a {
        position: absolute;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 1.375rem;
        height: 1.375rem;
        border-radius: 50%;
        color: #fff;
        background-color: var(--tg-secondary-color);
        font-size: 12px;
        left: 0;
        margin-top: -10px;
    }
    .woocommerce-cart-form {
        padding-right: 0;
    }
    .woocommerce-cart-form table tbody td.product-quantity {
        padding-right: 0;
    }
    .tp-btn.tp-btn-sm {
        height: 45px;
        line-height: 45px;
        padding: 0px 15px;
        font-size: 14px;
    }
    .tp-btn.tp-btn-sm {
        height: 45px;
        line-height: 45px;
        padding: 0px 30px;
        font-size: 14px;
    }
    .update-cart {
        width: 100%;
        margin-top: 11px;
        text-align: left;
    }
    .woocommerce-cart-form .actions .coupon {
        width: 100%;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .tp-btn.tp-btn-sm {
        height: 45px;
        line-height: 45px;
        padding: 0px 15px;
        font-size: 14px;
    }
    .tp-btn.tp-btn-sm {
        height: 45px;
        line-height: 45px;
        padding: 0px 30px;
        font-size: 14px;
    }
    .update-cart {
        width: 100%;
        margin-top: 11px;
        text-align: left;
    }
    .woocommerce-cart-form .actions .coupon {
        width: 100%;
    }
    .woocommerce-cart-form {
        padding-right: 0;
    }
}
.woocommerce-cart-form .actions .coupon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.woocommerce-cart-form .actions .coupon #coupon_code {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    margin-bottom: 0;
}
.woocommerce-cart-form .actions .update-cart.btn,
.woocommerce-cart-form .actions .coupon .btn {
    padding: 17px 30px;
    line-height: 1;
}
.cart-collaterals {
    border: 1px solid #192E44;
    border-radius: 0;
    padding: 1.25rem;
    height: 100%;
    margin-left: 50px;
}
.cart-collaterals .cart_totals > h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: .9375rem;
    border-bottom: .9375rem;
    border-bottom: 1px solid #192E44;
}
.cart-collaterals .shop_table {
    width: 100%;
    margin: 0;
}
.woocommerce-cart-form table td.product-name {
    font-weight: 500;
}
.woocommerce-cart-form .quickview-cart-plus-minus {
    width: 90px;
    margin-right: 0;
    margin-top: 0;
    position: relative;
}
.shoppong-car-wrap table,
.shoppong-car-wrap th,
.shoppong-car-wrap td {
    border: 0;
}
.woocommerce-cart-form .coupon label {
    display: none;
}
.tp-btn.tp-btn-sm {
    padding: 0 25px;
    line-height: 45px;
}
.form-row > label {
    margin-top: 15px;
    margin-left: 0;
    color: #99A2AC;
    font-size: 14px;
    margin-bottom: 4px;
}
.product-remove a {
    font-size: 25px;
}
.cart-collaterals .shop_table .cart-subtotal th, .cart-collaterals .shop_table .cart-subtotal td {
    border: none;
    border-bottom: 1px solid #192E44;
    padding-left: 5px;
    padding-right: 5px;
}
.cart-collaterals .shop_table .cart-subtotal th{
    text-align: left;
    color: #fff;
    font-size: 15px;
}
.cart-collaterals .shop_table td {
    text-align: right;
}
.cart-collaterals .shop_table .order-total th{
    text-align: left;
    color: #fff;
}
.cart-collaterals .shop_table .order-total th, .cart-collaterals .shop_table .order-total td {
    border: none;
    padding-left: 5px;
    padding-right: 5px;
}
.cart-collaterals .shop_table .order-total th, .cart-collaterals .shop_table .order-total td {
    padding-top: 1.25rem;
    padding-bottom: .625rem;
}
.cart-collaterals .shop_table .order-total th strong, .cart-collaterals .shop_table .order-total td strong {
    font-weight: 600;
    color: #fff;
}
.cart-collaterals .shop_table .order-total .amount {
    font-size: 1.25rem;
}
.wc-proceed-to-checkout {
    padding-top: .9375rem;
    border-top: 1px solid #192E44;
}
.woocommerce-cart-form .actions .tp-btn[name="update_cart"]:disabled {
    color: #C2C2D3;
    background-color: #F3F3F6;
    cursor: not-allowed;
}
.checkout-button.btn {
    padding: 19px 30px;
    line-height: 1;
}

/*=============================
    Checkout Page Style
==============================*/
#customer_details .woocommerce-billing-fields__field-wrapper, #customer_details .woocommerce-additional-fields__field-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;
}
#customer_details .woocommerce-billing-fields__field-wrapper .form-row, #customer_details .woocommerce-additional-fields__field-wrapper .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    margin-right: 0;
}
@media (min-width: 768px) {
#customer_details .woocommerce-billing-fields__field-wrapper .form-row#billing_first_name_field, #customer_details .woocommerce-billing-fields__field-wrapper .form-row#billing_last_name_field, #customer_details .woocommerce-billing-fields__field-wrapper .form-row#billing_phone_field, #customer_details .woocommerce-billing-fields__field-wrapper .form-row#billing_email_field, #customer_details .woocommerce-additional-fields__field-wrapper .form-row#billing_first_name_field, #customer_details .woocommerce-additional-fields__field-wrapper .form-row#billing_last_name_field, #customer_details .woocommerce-additional-fields__field-wrapper .form-row#billing_phone_field, #customer_details .woocommerce-additional-fields__field-wrapper .form-row#billing_email_field {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

}
.woocommerce-billing-fields__field-wrapper input,
.woocommerce-additional-fields__field-wrapper textarea,
.woocommerce-billing-fields__field-wrapper select {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 53px;
    padding: 0 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: #021d3a;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
    transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}
#customer_details .woocommerce-additional-fields__field-wrapper .form-row .woocommerce-input-wrapper > textarea {
    min-height: 120px;
    resize: none;
    padding-top: 10px;
}
.woocommerce-billing-fields__field-wrapper input::placeholder,
.woocommerce-additional-fields__field-wrapper textarea::placeholder {
    font-size: 16px;
    color: #99A2AC;
}
#customer_details .woocommerce-additional-fields__field-wrapper .form-row .woocommerce-input-wrapper > textarea::placeholder {
    color: #99A2AC;
}
#customer_details .woocommerce-additional-fields__field-wrapper .form-row .woocommerce-input-wrapper > textarea:-moz-placeholder {
    color: #99A2AC;
}
#order_comments_field {
    margin: 0;
}
.select2-container--default .select2-selection--single {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 53px;
    padding: 0 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #ffffff;
    background-color: #021d3a;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
    transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 53px;
    position: absolute;
    top: 0;
    right: 12px;
    width: 20px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #192E44;
    background: #021d3a;
    color: #fff;
}
.select2-results__option {
    outline: none;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: var(--tg-secondary-color);
    color: #fff;
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true] {
    background-color: var(--tg-secondary-color);
    color: #fff;
}
.select2-dropdown {
    border: 1px solid #192E44;
    background: #021d3a;
}
.select2-container {
    background: #021d3a;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
    width: 8px;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
  background: #192E44;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
  background: var(--tg-secondary-color);
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb:hover {
  background: var(--tg-secondary-color);
}
#customer_form_details {
    border: 1px solid #192E44;
    border-radius: 0;
    padding: 30px;
}
#customer_form_details h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: .75rem;
    margin-bottom: .75rem;
    border-bottom: 1px solid #192E44;
}
.cart-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.cart-wrapper .order-review-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25rem;
    flex: 0 0 25rem;
}
.order-review-wrapper {
    border: 2px solid var(--tg-secondary-color);
    border-radius: 0;
    padding: .9375rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px;
}
.order-review-wrapper h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: .75rem;
    margin-bottom: .75rem;
    border-bottom: 1px solid #192E44;
}
.order-review-wrapper .shop_table {
    width: 100%;
    border: 0;
    text-align: left;
    margin: 0;
}
.order-review-wrapper .shop_table td, .order-review-wrapper .shop_table th {
    border: 0;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 600;
}
.order-review-wrapper .shop_table thead th {
    color: #C2C2D3;
    padding-bottom: .75rem;
    border-bottom: 1px solid #192E44;
}
.order-review-wrapper .shop_table tfoot tr th {
    border: none;
    border-top: 1px solid #192E44;
    padding-left: 4px;
    font-size: 16px;
}
.order-review-wrapper .shop_table tfoot tr td {
    border: none;
    border-top: 1px solid #192E44;
}
.order-review-wrapper .shop_table thead th {
    border: none;
    border-bottom: 1px solid #192E44;
    padding-left: 4px;
}
.order-review-wrapper .shop_table th {
    font-weight: 600;
}
.woocommerce-checkout-review-order-table th, .woocommerce-checkout-review-order-table td {
    max-width: 50%;
    width: 50%;
}
.order-review-wrapper .shop_table tbody td:last-child {
    text-align: right;
}
.order-review-wrapper .shop_table thead th:last-child {
    text-align: right;
}
.order-review-wrapper .shop_table .amount {
    color: #fff;
}
.order-review-wrapper .shop_table tfoot tr td {
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-align: right;
    border-top: 1px solid #192E44;
}
.order-review-wrapper .shop_table tfoot tr.order-total .amount {
    font-size: 1.25rem;
    font-weight: 600;
}
.order-review-wrapper .woocommerce-checkout-payment {
    padding-top: .9375rem;
    border-top: 1px solid #192E44;
}
.order-review-wrapper .woocommerce-checkout-payment ul.payment_methods {
    margin: 0;
    padding: 0;
    list-style: none;
}
.order-review-wrapper .woocommerce-checkout-payment .woocommerce-privacy-policy-text p {
    line-height: 1.6;
}
.order-review-wrapper .woocommerce-checkout-payment .woocommerce-privacy-policy-text p a {
    font-weight: 500;
    text-decoration: underline;
}
.woocommerce-form-coupon-toggle {
    padding: 20px;
    background-color: #021d3a;
    padding-left: 45px;
    position: relative;
    margin-bottom: 25px;
    border-radius: 0;
}
.woocommerce-additional-fields {
    margin: 20px 0 0;
}
.woocommerce-form-coupon-toggle::before {
    position: absolute;
    left: 24px;
    top: 24px;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f02e';
}
.woocommerce-form-coupon-toggle .woocommerce-info {
    line-height: 1.4;
}
.checkout_coupon #coupon_code {
    width: 100%;
    height: 55px;
}
.showcoupon:hover{
    text-decoration: underline;
}
.checkout_coupon.woocommerce-form-coupon {
    margin-bottom: 20px;
}
.checkout_coupon.woocommerce-form-coupon [type="submit"] {
    line-height: 1;
}
li.woocommerce-notice.woocommerce-notice--info.woocommerce-info {
    line-height: 1.6;
    margin-bottom: 10px;
}
ul.woocommerce-error strong {
    color: var(--tg-primary-color);
}
.woocommerce-terms-and-conditions-wrapper {
    margin: 0 0 25px;
}

/*=======================================================
    ==                 Responsive CSS                  ==
==========================================================*/

/* Extra large devices (large desktops, 1800px and up) */
@media (max-width: 1500px) {
.woocommerce-product-gallery .flex-control-nav {
    width: 144px;
    flex: 0 0 144px;
}
.woocommerce-product-gallery li img {
    max-height: 152px;
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) {
.woocommerce-product-gallery {
    flex-direction: column;
    flex-wrap: wrap;
}
.woocommerce-product-gallery .flex-viewport {
    margin-left: 0;
    margin-bottom: 8px;
}
.woocommerce-product-gallery li {
    margin-bottom: 0;
    margin-right: 8px;
}
.woocommerce-product-gallery li:last-child {
    margin-right: 0;
}
.shop-details-images .tab-content {
    margin-left: 0;
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 0;
}
.woocommerce-product-gallery .flex-control-nav {
    flex-direction: row;
    width: 100%;
    flex: 0 0 100%;
}
.cart-collaterals {
    margin-left: 0;
}

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {
.woocommerce-product-gallery .flex-viewport {
    margin-left: 8px;
    margin-bottom: 0;
}
.woocommerce-product-gallery {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
.shop-details-images .tab-content {
    margin-left: 0 !important;
}
.woocommerce-product-gallery .flex-control-nav {
    width: 141px;
    flex: 0 0 141px;
    flex-direction: column;
}
.woocommerce-product-gallery li img {
    max-height: 149px;
}
.woocommerce-product-gallery li {
    margin-bottom: 8px;
    margin-right: 0;
}
.cart-collaterals {
    margin-top: 80px;
    height: auto;
}
.woocommerce-checkout .cart-wrapper {
    margin: 50px 0 0;
}
#thumb-gallery-margin {
    display: block;
}
#thumb-gallery-margin .woocommerce-product-gallery__image img {
    width: 100%;
}

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
.woocommerce-product-gallery {
    flex-direction: column;
    flex-wrap: wrap;
}
.woocommerce-product-gallery .flex-viewport {
    margin-left: 0;
    margin-bottom: 8px;
}
.woocommerce-product-gallery li {
    margin-bottom: 0;
    margin-right: 8px;
}
.woocommerce-product-gallery li:last-child {
    margin-right: 0;
}
.shop-details-images .tab-content {
    margin-left: 0;
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 0;
}
.woocommerce-product-gallery .flex-control-nav {
    flex-direction: row;
    width: 100%;
    flex: 0 0 100%;
}
.woocommerce-cart-form .actions .update-cart.btn {
    width: 100%;
    text-align: center;
}
.woocommerce-cart-form .actions .f-right {
    float: none;
}
.order-review-wrapper,
#customer_form_details {
    padding: 25px 20px;
}
.tinv-wishlist tbody tr.wishlist_item {
    border-top: 20px solid transparent;
}

}