.product__price .amount {
    font-size: 16px;
    font-weight: 700;
}
.price del {
    opacity: .8;
}
.price del .amount {
    opacity: .8;
    margin-right: 3px;
}

.product__icon span.tinvwl_add_to_wishlist-text {
    display: none;
}

.product__icon a.icon-btn.woosq-btn {
    display: inline-block;
}

a.icon-btn.woosq-btn {
    display: none;
}
.product__icon .woocommerce-LoopProduct-link {
    display: none;
}

.product__item .tinv-wraper.tinv-wishlist {
    display: inline-block;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin-bottom: 0px;
}

a.added_to_cart.wc-forward {
    padding-top: 0px;
}
.product__icon .add_to_cart_button.added {
    display: none;
}

.product__icon a.added_to_cart.wc-forward {
    background: #FF6652;
    color: #fff;
}
.product__item  .added_to_cart.wc-forward {
    font-size: 0;
}

a.added_to_cart.wc-forward::after {
    content: '✔';
    position: relative;
    font-size: 13px;
    font-weight: 700;
    margin-left: 5px;
}

.quantity {
    width: 90px;
    margin-right: 30px;
    margin-top: 10px;
    position: relative;
}

.woocommerce-grouped-product-list-item__quantity .quantity {
    float: none;
    margin: 0;
}
.quantity input {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    color: #FEFFFE;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Cuprum', sans-serif;
    padding: 0 20px 4px;
    border-bottom: 1px solid #192E44;
    text-align: center;
}
.quantity input::placeholder {
    color: #FEFFFE;
    font-size: 16px;
    font-weight: 700;
}
.quantity .qty_button {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    color: #FEFFFE;
    font-weight: 700;
    text-align: center;
}
.quantity .qty_button.plus {
    left: auto;
    right: 0;
    font-size: 16px;
}
.cart-plus-minus {
    position: relative;
}



.product-details-meta .sku span.sku-text {
    font-size: 16px;
    font-weight: 400;
    color: #777777;
}
.product_meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    padding-top: 1.5rem;
}
.product_meta b {
    color: var(--tp-common-black);
}
.product_meta > * {
    margin-bottom: 3px;
}
.shop-details-price del {
    opacity: .5;
}
.shop-details-price ins {
    text-decoration: none;
}
.product__price ins {
    text-decoration: none;
}


.details-rating i {
    color: #FFBF14;
    font-size: 15px;
    margin-right: 3px;
}
.new-price {
    font-size: 36px;
    color: #FFBF14;
    font-weight: 700;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    margin-bottom: 15px;
}
.new-price del {
    font-size: 20px;
    color: #cfcfcf;
}
.new-price ins {
    text-decoration: none;
}
.woocommerce-product-details__short-description {
    margin-bottom: 30px;
}
.product-details-meta {
    margin-top: 35px;
}
.woocommerce-tabs.wc-tabs-wrapper {
    position: relative;
}
#thumb-gallery-margin {
    padding-left: 0;
}
.tp-single-content-info table{
    margin-bottom: 25px;
}
.variations table th {
    padding: 0 12px;
}
.woocommerce-product-attributes th,.woocommerce-product-attributes td {
    padding: 8px 20px;
    text-align: left;
}
.woocommerce-product-attributes td p{
    margin: 0;
}
.variations .nice-select::after {
    right: 13px;
    color: #666;
}
.reset_variations {
    display: none;
}
.woocommerce-grouped-product-list-item__price ins {
    text-decoration: none;
}
.woocommerce-variation-price {
    margin-bottom: 20px;
}

.product__item span.tinvwl_add_to_wishlist-text {
    display: none;
}

.tp-single-content-info .tinv-wraper.tinv-wishlist {
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
}
.tp-single-content-info .tp-single-cart-form .tinv-wraper.woocommerce.tinv-wishlist {
    display: none;
}
.tp-single-content-info .tinvwl_add_to_wishlist-text {
    margin-left: 5px;
}

.woosq-popup .qty_button {
    width: 45px;
}
.woosq-popup .quantity input {
    width: 60px;
}
.woosq-popup select {
    width: 100%;
    background: #EDEEF5;
    border: 0;
    height: 42px;
    padding: 0 10px;
}

.woocommerce-message {
    background: #021d3a;
    padding: 9px 20px;
    margin-bottom: 20px;
    border-top: 3px solid var(--tg-secondary-color);
}
.button.wc-forward {
    float: right;
    color: var(--tg-primary-color);
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Cuprum', sans-serif;
    letter-spacing: .02rem;
}



/*wishlist*/
.tinv-wishlist table th {
    font-weight: 600;
    color: #fff;
}
.tinv-wishlist .product-remove button {
    background-color: var(--tg-secondary-color);
    color: #fff;
}
.tinvwl-table-manage-list td.product-name {
    font-weight: 500;
}
.tinvwl-table-manage-list a {
    color: var(--tg-primary-color);
}
.tinv-wishlist .product-action {
    width: 180px;
    text-align: center;
}
.tinv-wishlist button {
    background: var(--tg-secondary-color);
    color: #fff;
    padding: 6px 20px;
    margin: 0;
    border: none;
}
.tinv-wishlist .social-buttons li a.social {
    color: var(--tg-primary-color);
}
.tinv-wishlist .social-buttons > span, .tinv-wishlist .social-buttons > ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.tinv-wishlist ins {
    text-decoration: none;
}
.tinvwl-input-group .form-control {
    position: relative;
    z-index: 1;
    float: left;
    height: 44px;
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: #021d3a;
    border-color: #021d3a;
    color: #fff;
    padding: .375rem 1.2rem;
    outline: none;
    box-shadow: none;
}

/*mini cart */
.tp-mini-card {
    display: inline-block;
    position: relative;
}
.mini_shopping_cart_box {
    position: absolute;
    top: 110%;
    right: 0;
    width: 300px;
    background: #fff;
    padding: 1.25rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px rgba(62, 68, 90, 0.1);
    box-shadow: 0px 5px 10px rgba(62, 68, 90, 0.1);
    border: 1px solid #edeef5;
    border-radius: 10px;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}
.header-meta ul li:hover .mini_shopping_cart_box{
    opacity: 1;
    visibility: visible;
    top: 105%;
}
.woocommerce-mini-cart__empty-message {
    margin: 0;
}
.mini_cart_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.mini_shopping_cart_box .mini_cart_item + .mini_cart_item {
    margin-top: .625rem;
    padding-top: .625rem;
    border-top: 1px solid #EDEEF5;
}
.mini-cart-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3.5rem;
    flex: 0 0 3.5rem;
    max-width: 3.5rem;
    padding: 0;
    margin-right: .625rem;
}
.min-cart-content {
    position: static;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0;
}
.mini-cart-title {
    font-size: 14px;
    margin-bottom: 2px;
}
.remove.remove_from_cart_button {
    font-size: 20px;
}
.min-cart-price .quantity {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.min-cart-price .woocommerce-Price-amount.amount {
    color: #3C8599;
}
.woocommerce-mini-cart__total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #EDEEF5;
}
.woocommerce-mini-cart__total strong {
    font-size: 15px;
    font-weight: 600;
    color: #C2C2D3;
}
.woocommerce-mini-cart__total .amount {
    font-size: 18px;
    font-weight: 600;
    color: #3C8599;
}
.woocommerce-mini-cart__buttons.buttons {
    margin: 0;
}
.woocommerce-mini-cart__buttons .button.wc-forward {
    float: none;
    color: #222;
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    padding: 7px 15px;
    margin-top: 10px;
    background: none;
}
.woocommerce-mini-cart__buttons .button.checkout.wc-forward {
    background: #3C8599;
    border-color: #3C8599;
    color: #fff;
}

/*account */
.woocommerce-account .col2-set {
    margin-left: -15px;
    margin-right: -15px;
}
.woocommerce-account .col-1, .woocommerce-account .col-2 {
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100% !important;
}
@media(max-width: 600px){
    .woocommerce-account .col-1, .woocommerce-account .col-2 {
        width: 100%;
    }
    .woocommerce-account .col-1 + .col-2 {
        margin-top: 30px;
    }
}
#customer_login h2, .woocommerce-MyAccount-content h3 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: .75rem;
    margin-bottom: .75rem;
    border-bottom: 1px solid #EDEEF5;
}
.woocommerce-form input[type="text"],.woocommerce-form input[type="password"],.woocommerce-form input[type="email"] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .9375rem;
    width: 100%;
    height: 2.5rem;
    padding: 0 .9375rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #202435;
    background-color: #F3F4F7;
    border: 1px solid transparent;
    border-radius: 6px;
    -webkit-transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
    transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}
label.woocommerce-form-login__rememberme {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
.woocommerce-form button{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 2.5rem;
    font-size: .875rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0 .9375rem;
    border: 1px solid;
    color: #fff;
    background-color: #3C8599;
    border-radius: 4px;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
    transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}

/*product sidebar*/
.widget_price_filter form {
    position: relative;
    color: #72788e;
}
.ui-widget-content {
    height: 4px;
    background-color: #E0E0E2;
    margin-bottom: 18px;
    border-radius: 4px;
}
.ui-widget-content .ui-slider-range {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border: 0;
    background-color: #202435;
    border-radius: 8px;
    z-index: 1;
}
.ui-widget-content .ui-slider-handle {
    left: 0%;
    position: absolute;
    z-index: 2;
    outline: 0;
    cursor: pointer;
    background-color: #202435;
    border-radius: 100%;
    border: 0;
    height: 14px;
    top: -5px;
    width: 14px;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.ui-widget-content .ui-slider-handle:last-child {
    left: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.price_slider_amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.price_slider_amount .button {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    height: auto;
    margin-left: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.price_slider_amount .button {
    color: #202435;
}
.price_slider_amount .price_label {
    font-size: 15px;
}
.price_slider_amount .price_label span {
    font-weight: 600;
    color: #212537;
}

.product__widget-title {
    margin-bottom: 25px;
    font-size: 18px;
}
.product-sidebar ul {
    list-style: none;
}
.product-sidebar ul ul {
    padding-left: 15px;
}
.product-sidebar ul li a {
    padding: 5px 0;
    color: #777777;
    display: inline-block;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 400;
}
.product-sidebar ul li a:hover{
    color: #3C8599;
}
.wc-layered-nav-term span.count {
    float: right;
}

.product-widget-thumb img {
    width: 75px;
    margin-right: 15px;
}
.product-widget-title {
    font-size: 17px;
    margin-bottom: 3px;
    margin-top: 1px;
}
.product-widget-title:color{
    color: #3C8599;
}
.product-widget-title a {
    color: inherit !important;
}
.product-widget-info ins {
    text-decoration: none;
}

.woocommerce-product-search {
    position: relative;
    margin-bottom: -25px;
}
.woocommerce-product-search input {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: var(--tp-grey-1);
    padding: 0 25px;
    text-transform: capitalize;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    border: 2px solid var(--tp-grey-1);
    outline: none;
    padding-top: 3px;
    padding-right: 80px;
}
.woocommerce-product-search button{
    font-size: 0;
    height: 0;
}
.woocommerce-product-search button::before {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    padding: 0 24px;
    color: #fff;
    line-height: 61px;
    -webkit-border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    -o-border-radius: 0 7px 7px 0;
    -ms-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;
    background: #FFBF14;
    content: "\f002";
    font-weight: 400;
    font-family: "Font Awesome 5 Free";
    font-size: 21px;
}


/*product details tab*/
.product__result p {
    margin: 0;
}
.tp-nav-tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.tp-nav-tabs li {
    margin-right: 30px;
    list-style: none;
}
.tp-nav-tabs li a {
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
    font-size: 16px;
    font-weight: var(--tp-fw-bold);
}
.tp-nav-tabs li.active a{
    color: #245D51;
    border-color: #245D51;
}
.woocommerce-Tabs-panel > h2 {
    display: none;
}

.woocommerce #commentform p {
    margin: 0;
}
.comment-notes {
    margin-bottom: 15px !important;
}
.comment-form-rating {
    margin-bottom: 20px;
}



.star-rating span {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.star-rating span::before {
    font-family: "Font Awesome 5 Free";
    content: '\f005\f005\f005\f005\f005';
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FFBF14;
    font-weight: 900;
}
.woocommerce-review__published-date {
    font-size: 13px;
}
.single-content .woocommerce-tabs .woocommerce-Tabs-panel .woocommerce-Reviews p {
    font-size: 12px;
}

.shop-details-active .slick-list.draggable {
    padding: 0;
}


/*quantity input*/

.select2-dropdown {
    position: static !important;
}

#customer_details .woocommerce-billing-fields__field-wrapper .form-row, #customer_details .woocommerce-additional-fields__field-wrapper .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

/*product-css*/
.product__title {
    font-size: 18px;
}
.product__title:hover a{
    color: #FF6652;
}
.product__icon{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    width: 100%;
    right: auto;
    position: absolute;
    top: 50%;
    bottom: auto;
    right: auto;
    z-index: 12;
    height: 45px;
    text-align: center;
    margin-top: -22px;
}
.product__icon a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: block;
    overflow: hidden;
    background: #fff;
    color: #1d2530;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    -webkit-box-shadow: 0px 4px 11px 0px rgb(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 11px 0px rgb(0,0,0,0.3);
    box-shadow: 0px 4px 11px 0px rgb(0,0,0,0.3);
    margin: 0 3px;
}
.product__icon a:hover{
    background-color: var(--tp-heading-secondary);
    color: #fff;
}
.product__icon a.woosq-btn{
    -webkit-transition: transform .2s ease 0s, background-color 0.5s ease 0s, opacity 0.4s ease 0s;
    -o-transition: transform .2s ease 0s, background-color 0.5s ease 0s, opacity 0.4s ease 0s;
    transition: transform .2s ease 0s, background-color 0.5s ease 0s, opacity 0.4s ease 0s;
}
.product__icon a.cart-button{
-webkit-transition: transform .6s ease 0s, background-color 0.5s ease 0s, opacity 0.4s ease 0s;
-o-transition: transform .6s ease 0s, background-color 0.5s ease 0s, opacity 0.4s ease 0s;
transition: transform .6s ease 0s, background-color 0.5s ease 0s, opacity 0.4s ease 0s;
}
.product__item:hover .product__icon a {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

